.container {
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
    margin: 4rem;
}

.desc {
    padding: 2rem;
}

.about-me-section {
    height: 1000px;
    position: relative;
    width: 1402px;
}

.about-me-section .img {
    height: 701px;
    left: 245px;
    position: absolute;
    top: 39px;
    width: 303px;
}

.about-me-section-right-img {
    height: 500px;
    right: 100px;
    position: absolute;
    top: 39px;
    width: 500px;
}

.about-me-section .about-me-header {
    height: 519px;
    left: 673px;
    position: absolute;
    top: 10px;
    width: 652px;
    padding-bottom: 2rem;
}

.about-me-section-about-me-header {
    height: 519px;
    right: 673px;
    position: absolute;
    top: 10px;
    width: 652px;
    padding-bottom: 2rem;
}

.about-me-section .text-wrapper {
    color: #fbc027;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 19.5px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.about-me-section .div {
    color: #000000cf;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 38.9px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.about-me-section .sub-headers {
    color: #000000cf;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 28.9px;
    font-weight: 400;
    padding: 2rem;
    letter-spacing: 0;
    line-height: normal;

}

.about-me-section .i-m-a-top-online {
    color: #00000080;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 17.5px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 110px;
    width: 632px;
}

.about-me-section .desc {
    color: #00000080;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 17.5px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 107px;
    width: 632px;
}

.about-me-section .group {
    height: 51px;
    left: 0;
    position: absolute;
    top: 301px;
    width: 49px;
}

.about-me-section .group-2 {
    height: 52px;
    left: 0;
    position: absolute;
    top: 388px;
    width: 49px;
}

.about-me-section .group-3 {
    height: 53px;
    left: 202px;
    position: absolute;
    top: 301px;
    width: 49px;
}

.about-me-section .frame-1 {
    background-color: #fbc027 !important;
    border-radius: 4.87px !important;
    display: flex !important;
    left: 0 !important;
    padding: 10px 29.21px !important;
    position: absolute !important;
    top: 477px !important;
    width: 153px !important;
}

.about-me-section .frame-instance {
    color: #ffffff !important;
    font-size: 14.6px !important;
    margin-top: -1.26px !important;
}

.about-me-section .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 14.6px;
    font-weight: 600;
    left: 183px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 487px;
}

.about-me-section .akar-icons-download {
    height: 23px;
    left: 293px;
    position: absolute;
    top: 487px;
    width: 23px;
}

.about-me-section .overlap-group {
    height: 43px;
    left: 58px;
    position: absolute;
    top: 305px;
    width: 85px;
}

.about-me-section .text-wrapper-3 {
    color: #fbc027;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15.6px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.about-me-section .text-wrapper-4 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 15.6px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
}

.about-me-section .text-wrapper-5 {
    color: #fbc027;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15.6px;
    font-weight: 500;
    left: 58px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 391px;
}

.about-me-section .overlap {
    height: 43px;
    left: 260px;
    position: absolute;
    top: 309px;
    width: 62px;
}

.about-me-section .text-wrapper-6 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 15.6px;
    font-weight: 400;
    left: 58px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 415px;
}