.social-media svg path {
	color: #f26a8d;
}

.social-media svg {
	padding: 1.2rem 1.4rem;
	border: 1px solid #f49cbb;
	margin: 1.5rem 1rem;
	border-radius: 4em;
}

.social-media .svg-inline--fa {
	height: 1.5rem;
}
