.home {
	height: 100%;
	box-sizing: border-box;
	padding: 0 2rem;
	margin: 0 4rem;
}

.home h2 {
	text-transform: capitalize;
}

.home > p {
	margin: 0.3em 1em;
}

.main-landing {
	display: flex;
	flex-direction: column;
	height: 80vh;
	/* border: 0.1px solid #66ddaa;
	border-radius: 30px; */
	padding: 10px;
	border-bottom: 1px solid #f2f2f2;
}

.landing {
	display: flex;
	height: 70vh;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1.5rem;
}

.graphical img {
	height: 70vh;
	width: 100%;
}

.graphical {
	flex: 2;
}

.textual {
	flex: 1;
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 80%;
}

.textual .action-btn {
	width: 40%;
	height: 3rem;
	background-color: #f26a8d;
	border: none;
	color: white;
	font-size: 1em;
	border-radius: 10px;
}

.textual .action-btn:hover {
	background-color: white;
	color: #f26a8d;
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
	box-shadow: 1px 3px 5px #f26a8d;
}
