.service-detail {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem 0 2rem;
	margin: 0 4rem;
}

span {
	color: #f49cbb;
}

.country-detail h1,
h2 {
	text-transform: uppercase;
	font-weight: 700;
}

.marg {
	margin: 0.5em 0;
}

.specialh3 {
	font-size: 1.1em;
	font-weight: 300;
}

.essentials * {
	padding: 0.3rem 0;
}
